:root {

  /* Theme Settings: Layout */
  --max-content-width: 1800px;
  --padding-inner-base: 30px;
  --padding-outer-base: 60px;

  /* Theme Settings: Typography */
  --font-size-heading: clamp(70px, 10vh, 120px);
  --font-size-subheading: clamp(28px, 3.5vh, 50px);
  --font-size-body-large: clamp(28px, 3.5vh, 50px);
  --font-size-body: clamp(20px, 2.5vh, 30px);
  --font-size-body-small: clamp(18px, 2vh, 20px);
  --font-family-heading: "Helvetica Neue", sans-serif;
  --font-family-body: "Helvetica Neue", sans-serif;
  --font-style-heading: normal;
  --font-style-subheading: normal;
  --font-style-body: normal;
  --font-weight-heading: 400;
  --font-weight-subheading: 400;
  --font-weight-body: 400;
  --font-weight-body-bold: 700;

  /* Theme Settings: Colours */
  --colour-background-light: #ffffff;
  --colour-background-dark: #121212;
  --colour-text-light: #121212;
  --colour-text-dark: #ffffff;
  --colour-accent-light: #ffa019;
  --colour-accent-dark: #ffa019;

  /* Default colour settings if prefers-color-scheme not supported */
  --background-colour: var(--colour-background-light);
  --text-colour: var(--colour-text-light);

  /* Base Settings */
  --transition-settings: 0.25s ease-in-out;
  --navigation-mask-height: calc((var(--font-size-body) + var(--padding-inner-base)) + var(--padding-inner-base));
  --shutter-transition-y: -100%;
}

@media screen and (max-width: 1024px) {
  :root {
    /* Theme Settings: Typography */
    --font-size-heading: clamp(65px, 10vh, 100px);
    --font-size-subheading: clamp(35px, 3.5vh, 45px);
    --font-size-body-large: clamp(35px, 3.5vh, 45px);
    --font-size-body: clamp(24px, 2.5vh, 30px);
    --font-size-body-small: clamp(16px, 2vh, 20px);
  }
}

@media screen and (max-width: 768px) {
  :root {
    /* Theme Settings: Layout */
    --padding-inner-base: 30px;
    --padding-outer-base: 60px;

    /* Theme Settings: Typography */
    --font-size-heading: clamp(50px, 10vh, 65px);
    --font-size-subheading: clamp(25px, 3.5vh, 35px);
    --font-size-body-large: clamp(25px, 3.5vh, 35px);
    --font-size-body: clamp(18px, 2.5vh, 25px);
    --font-size-body-small: clamp(14px, 2vh, 18px);
  }
}

@media screen and (max-width: 600px) {
  :root {
    /* Theme Settings: Layout */
    --padding-inner-base: 20px;
    --padding-outer-base: 40px;

    /* Theme Settings: Typography */
    --font-size-heading: clamp(30px, 10vh, 35px);
    --font-size-subheading: clamp(20px, 3.5vh, 25px);
    --font-size-body-large: clamp(20px, 3.5vh, 25px);
    --font-size-body: clamp(16px, 2.5vh, 20px);
    --font-size-body-small: clamp(14px, 2vh, 18px);
  }
}

/* 
**  PRESETS
*/

/* Display */

.no-display {
  display: none;
}

.hidden,
.hidden-ignore-gsap {
  opacity: 0;
  visibility: hidden;
}

/* Animations */
.offset-x-pos {
  transform: translateX(var(--padding-outer-base));
}

.offset-x-neg {
  transform: translateX(calc(-1 * var(--padding-outer-base)));
}

.text-reveal {
  --text-mask-scale: 1;

  position: relative;
  overflow: hidden;
}

.text-reveal::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: var(--background-colour);
}

.text-reveal.reveal-ltr::after {
  transform-origin: right;
  transform: scaleX(var(--text-mask-scale));
}

.text-reveal.reveal-rtl::after {
  transform-origin: left;
  transform: scaleX(var(--text-mask-scale));
}

.text-reveal.reveal-ttb::after {
  transform-origin: bottom;
  transform: scaleY(var(--text-mask-scale)) scaleX(1.05);
}

.text-reveal.reveal-btt::after {
  transform-origin: top;
  transform: scaleY(var(--text-mask-scale)) scaleX(1.05);
}

.asset-reveal {
  --asset-mask-scale: 1;

  position: relative;
  overflow: hidden;
}

.asset-reveal::before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--background-colour);
  transform: scaleX(var(--asset-mask-scale));
  transform-origin: left;
}

.asset-reveal::after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--background-colour);
  transform: scaleX(var(--asset-mask-scale));
  transform-origin: right;
}

/* Colour Schemes */

.colour-scheme {
  background-color: var(--background-colour);
  color: var(--text-colour);
}

.inverse-colour-scheme {
  color: var(--background-colour);
  background-color: var(--text-colour);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --background-colour: var(--colour-background-light);
    --text-colour: var(--colour-text-light);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-colour: var(--colour-background-dark);
    --text-colour: var(--colour-text-dark);
  }
}

/* Layout */

.max-content-width {
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-height {
  height: 100%;
}

.page-height {
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .half-width {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .half-width {
    width: 100%;
  }
}

.pad-inner {
  padding: var(--padding-inner-base) 0;
}

.pad-outer {
  margin: var(--padding-outer-base) auto;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
  align-items: center;
}

.flex.row-reverse {
  flex-direction: row-reverse;
  align-items: center;
}

.flex.column {
  flex-direction: column;
  justify-content: center;
}

.flex.column-reverse {
  flex-direction: column-reverse;
  justify-content: center;
}

.flex.row.h-start,
.flex.row-reverse.h-end {
  justify-content: flex-start;
}

.flex.column.h-start {
  align-items: flex-start;
}

.flex.row.h-center,
.flex.row-reverse.h-center {
  justify-content: center;
}

.flex.row.h-between,
.flex.row-reverse.h-between {
  justify-content: space-between;
}

.flex.column.h-center {
  align-items: center;
}

.flex.row.h-end,
.flex.row-reverse.h-start {
  justify-content: flex-end;
}

.flex.column.h-end {
  align-items: flex-end;
}

/* Positioning */

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

/* Font & Text */

.heading {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading);
  font-style: var(--font-style-heading);
  font-weight: var(--font-weight-heading);
  line-height: 1.3;
}

.heading-small {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-subheading);
  font-style: var(--font-style-heading);
  font-weight: var(--font-weight-heading);
  line-height: 1.3;
}

.subheading {
  font-family: var(--font-family-body);
  font-size: var(--font-size-subheading);
  font-style: var(--font-style-subheading);
  font-weight: var(--font-weight-subheading);
  line-height: 1.3;
}

.body-copy-large {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-large);
  font-style: var(--font-style-body);
  font-weight: var(--font-weight-body);
  line-height: 1.75;
}

.body-copy {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-style: var(--font-style-body);
  font-weight: var(--font-weight-body);
  line-height: 1.75;
}

.body-copy-small {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-small);
  font-style: var(--font-style-body);
  font-weight: var(--font-weight-body);
  line-height: 1.75;
}

.legal-copy {
  font-family: var(--font-family-body);
  font-size: calc(var(--font-size-body) * 0.75);
  font-style: var(--font-style-body);
  font-weight: var(--font-weight-body);
}

.all-caps {
  text-transform: uppercase;
}

.all-low {
  text-transform: lowercase;
}

.bold {
  font-weight: var(--font-weight-body-bold); 
}

.nav-item a,
.nav-item button {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*
**  SITE STYLING
*/

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.33;
  letter-spacing: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #__nuxt {
    height: auto;
    min-height: 100%;
  }
}

.page-padding {
  padding-left: var(--padding-outer-base);
  padding-right: var(--padding-outer-base);
}

@media screen and (max-width: 1024px) {
  .page-padding {
    padding-left: calc(var(--padding-outer-base) / 2);
    padding-right: calc(var(--padding-outer-base) / 2);
  }
}

/* Content - Block Elements */

h1 {
  font-size: var(--font-size-heading);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul,
ol,
li {
  list-style: none;
}

figure {
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid var(--accent-colour);
}

/* Content - Inline Elements */

a {
  text-decoration: underline;
  color: inherit;
}

iframe {
  border: none;
  overflow: hidden;
  pointer-events: none;
}

/* Form Styling */
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset > * {
  line-height: 1;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  padding: 0.25em 0.5em;
}

::placeholder {
  color: var(--text-colour);
  opacity: 0.5;
}